@use './partials/variables' as *;
@use './partials/theme';
@use './partials/common';
@use './partials/sidebar';
@use './partials/navbar';
@use './partials/projects';
@use './partials/project-create-edit';
@use './partials/project-show';
@use './partials/register-login';
@use './partials/types';
@import '~bootstrap/scss/bootstrap';