$section-header-bg: rgba(2, 35, 69, 1);
$section-bg: rgb(40 66 93);

$dash-darkest: #121320;
$dash-dark: #252935;
$dash-bg-title: #3536439c;
$dash-portfolio-light: orange;
/* #FBB22E */
$dash-portfolio-dark: rgb(255, 94, 0)
    /* #F58B4B */
;
$dash-text-light: white;